<div class="flex flex-col items-center justify-center gap-y-20 max-w-screen break-words">
    <div @fadeInOut class="title-header mb-5 text-center">
      <h1 class="font-primary text-4xl lg:text-9xl m-auto text-blue-800 leading-none mb-4">Skills</h1>
      <span class="text-xl text-blue-900 m-auto">
        Here are some of the skills and tools that I have used during my professional career.
      </span>
    </div>

    <div class="w-full">
      <app-block-section-home-skills [skills]="skills"></app-block-section-home-skills>
    </div>

  <div class="flex flex-col items-center justify-center gap-y-5 md:gap-y-12">
    <div @fadeInOut class="title-header text-center">
      <h1 class="font-primary text-4xl md:text-9xl m-auto text-blue-800 leading-none mb-4">Soft Skills</h1>
      <span class="text-xl text-blue-900 m-auto">
      Here are some of the skills and tools that I have used during my professional career.
    </span>
    </div>

    <div class="w-full">
      <app-block-section-home-skills [skills]="soft_skills"></app-block-section-home-skills>
    </div>
  </div>
</div>
